<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GemBox.Spreadsheet" version="45.0.0.1094" targetFramework="net472" />
  <package id="GemBox.Spreadsheet.WinFormsUtilities" version="45.0.0.1094" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
</packages>